.gameBoardContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}

.gameBoardCPU, .gameBoardPlayer{
    width: 600px;
    display: flex;
    flex-direction: row;
    height: 100px ;
}


.gameBoardCPU{
    border-bottom: white solid 1px;
}

.gameBoardPlayer{
    border-top: white solid 1px;
}



.gamePlayerName{
    display: flex;
    padding-left: 10px ;
    align-items: center;
    font-size: 10px;
    width:50px; 
    font-size: 16px;  
}

.gameBoardChoice{
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;

}